* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    overflow-x: hidden;
    background-color: #000;
}

/* display player and opponent name */
.players {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.players .box {
    width: 200px;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    border-radius: .6rem;
}

.players .player {
    background-color: #83f28f;
}

.players .opponent {
    background-color: #f37168;
}

/* gameboards */
#gameboards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.game-board-box {
    width: 220px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
}

.grid-block { /* gameboard will have a 10 by 10 grid */
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 1px;
}

#player .grid-block {
    background-color: #e8f4f8;
}

#computer .grid-block {
    background-color: #f2f2f2 !important;
}

.grid-block:hover {
    border: 1px solid #9d9d9d
}

.hover {
    background-color: #ccc !important;
    border-radius: 100%;
}

.empty {
    background-color: #9d9d9d !important;
    border-radius: 100%;
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: #fff; 
}


/* assign the colors for the ships when dragged to gameboard*/
.add-width-margin {
    height: 10px;
    margin: 3px;
}

.destroyer {
    background-color: #964B00 !important;
}

.submarine {
    background-color: #00ff00 !important;
}

.cruiser {
    background-color: #ff00ff !important;
}

.battleship {
    background-color: #ffa500 !important;
}

.carrier {
    background-color: #0000ff !important;
}

/* game status */
#game-info {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.game-ctrls {
    margin: 0 auto;
    width: 250px;
    height: 50px;
    
}

.game-ctrls button {
    border: 0;
    padding: .5rem;
    border-radius: 1rem;
    width: 100px;
    margin: 10px 10px;
    background-color: #ffb833;
    transition: 150ms ease;
    color: #fff;
}

.game-ctrls button:hover {
    transform: scale(1.1);
}

#game-info p {
    width: 50%;
    margin: 15px auto;
    padding: 1rem;
    border-radius: 1rem;
}

#game-info .info-container {
    background-color: #6d72c3;
    color: #fff;
}

#game-info .turn-container {
    border: 1px solid #353238;
    color: #fff;
}

/* ship options */

.options-container {
    width: 500px;
    height: 50px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-container .preview {
    border-radius: 1rem;
}

.options-container .destroyer-preview {
    width: 20px;
}

.options-container .submarine-preview {
    width: 30px;
}

.options-container .cruiser-preview {
    width: 30px;
}

.options-container .battleship-preview {
    width: 40px;
}

.options-container .carrier-preview {
    width: 50px;
}

/* Add this styling when the player or computer hits a ship */
.boom {
    background-color: #EE3C2F !important;
    border-radius: 100%;
}

#computer .boom {
    background-color: #EE3C2F !important;
}

